html, body{
    background-color: purple;
    font-family:Arial Black
    , helvetica, sans-serif;

}

#main-header {
    padding-top: 17px;

    text-align: center;
    color: black;

}

#sub-header{
    text-align: center;
    color: black;
    padding-bottom: 15px;
}

.col-lg {
text-align: center;
}

#main-img{
    width: 70%;
}

#date {
font-size: 3.3em; 
color: black;
padding-bottom: 10px;

}

#time{
    color: black;
    padding-bottom: 20px;
    font-size: 2.3em; 

}

.lunch, .dinner{
    margin-bottom: 20px;
}

