html, body {
    background-color: purple;
    font-family:Arial Black
    , helvetica, sans-serif;

}

#main-header {
    padding-top: 17px;

    text-align: center;
    color: black;

}

#sub-header{
    text-align: center;
    color: black;
    padding-bottom: 18px;
}

.col-lg {
text-align: center;
}

#main-img{
    width: 70%;
}

#date {
font-size: 3em; 
padding-bottom: 30px;
}

